@font-face {
  font-family: "bold";
  src: url("../../fonts/sarasa-fixed-sc-bold.ttf");
}

@font-face {
  font-family: "semibold";
  src: url("../../fonts/sarasa-fixed-sc-semibold.ttf");
}

@font-face {
  font-family: "regular";
  src: url("../../fonts/sarasa-fixed-sc-regular.ttf");
}

@font-face {
  font-family: "light";
  src: url("../../fonts/sarasa-fixed-sc-light.ttf");
}

* {
  margin: 0;
  padding: 0;
}

HTML,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td {
  border: none;
  font-family: "regular";
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #fff;
  }
}

input {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }

  -webkit-appearance: none;
  margin: 0;
  outline: none;
  padding: 0;

  &::-webkit-input-placeholder,
  &::-ms-input-placeholder,
  &::-moz-placeholder {
    color: #ccc;
  }

  &[type="submit"],
  &[type="button"] {
    cursor: pointer;
  }
}

button[disabled],
input[disabled] {
  cursor: default;
}

img {
  border: none;
}

ul,
ol,
li {
  list-style-type: none;
}

.icon-image {
  width: 20%;
}

.icon-imagey {
  width: 30%;
  margin-top: -1%;
}

.icon-imaget {
  width: 20%;
  margin-top: 1%;
  margin-left: -2%;
}

.icon-imagec {
  width: 5%;
}

.icon-imagew {
  width: 13%;
  margin-left: 7%;
}

.logo-control {
  width: 300px;
  margin-top: 12px;
  padding-top: 30px;
  border-top: 0.5em dotted rgb(140, 120, 180);
}

.footer-bottom {
  padding-right: 7em;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;

  /*Align the end points of the cross axis of the elements*/
  padding-bottom: 2em;
  color: rgb(140, 120, 180);
  font-family: "light";
}

//Web page adaption

//Width to height ratio less than or equal to 9:16
@media screen and (max-aspect-ratio: 9/16) {
  .logo-control {
    padding-top: 0;
    border: 0;
  }

  .footer-bottom {
    right: -5%;
    position: absolute;
    width: 40vw;
    padding-bottom: 2em;
  }
}

//Width to height ratio greater than or equal to 16:9
@media screen and (min-aspect-ratio: 16/9) and (max-width: 1100px) {
  footer {
    height: 120vh !important;
  }
}
