* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

#lottie-control {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #cbb0d8;
  z-index: 6;
}

::-webkit-scrollbar {
  display: none;
}
